// Place all the styles related to the Champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  h1{
    font-family: verdana, arial, helvetica, sans-serif !important;
  }
  .stat{
    display: inline-block;
  }
  .title{
    padding-left: 40px;
  }

  // Champions Index
  .champions-list {
    .champion, .item {
      display: inline-block; 
      text-align: center; 
      &:hover {
        opacity: 0.5;
      }
    }
  }
  // Champion show
  .champion-profile {
    margin-left: 25px;
    .champion-image {
      text-align: center; 
      padding-top: 50px;
      float: left;
      padding-left: 20px;
      .item-set {
        border: 1px solid #cccccc;
        width:50px;
        height:50px;
      }
    }
    .champion-stats {
      margin-top: 50px;
      padding-left: 50px;
      float: left;
      table {
        td.data {
          color: green;
          align: right !important;
          margin: 20px;
        }
      }
    }
  }
  .items-list{
    display: inline-block;
    .item-icon {
      display: inline-block; 
      text-align: center; 
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.champion-title{
  margin-bottom: 20px;
  img, h1{
    text-align: center;

    display: inline-block;
  }
}

