// Place all the styles related to the Champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  h1{
    font-family: verdana, arial, helvetica, sans-serif !important;
  }
  .stat{
    display: inline-block;
  }
  .title{
    padding-left: 40px;
  }
  .champions-list {
    .champion {
      display: inline-block; 
      text-align: center; 
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.champion-title{
  margin-bottom: 20px;
  img, h1{
    text-align: center;

    display: inline-block;
  }
}
