.title
  %h1 Champions

.champions-list.text-center
  - @champions.each do |champion|
    .champion
      = link_to image_tag(champion.image, style: "width: 95px; height: 95px"), champion_path(champion)
      .champion-name= champion.name

  %br

= link_to 'New Champion', new_champion_path
= link_to 'Retrieve Data', retrieve_data_champions_path